@import 'bootstrap/scss/bootstrap';

#root {
    background-color: #03071e;
    color: rgba(241, 238, 238, 0.89);
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
}

.navbar {
    background-color: #e85d04;
}

.movieCarouselWrapper {
    display: flex;
    justify-content: center;  
}

.cardTitle {
    color: #03071e;
    font-size: 1em;
}

.btn {
    color: white;
    background-color: #e85d04;
    border: none;
}

.card {
    .btn {
        color: white;
        background-color: #e85d04;
        border: none;
    }
}

a {
    color: #e85d04;
}

.footer {
    background-color: #e85d04;
    color: black;
}